<div class="row">
  <div class="col-12">
    <button class="btn btn-success">New Recipe</button>
  </div>
</div>
<hr/>
<div class="row">
  <div class="col-12">
    <a href="#"
       class="list-group-item clearfix"
       *ngFor="let recipe of recipes$ | async">
      <div class="float-left">
        <h4 class="list-group-item-heading">{{ recipe.name }}</h4>
        <p class="list-group-item-text">{{ recipe.description}}</p>
      </div>
      <div class="float-lg-right text-center">
        <img [src]="recipe.imagePath"
             alt="{{ recipe.name }}"
             class="img-responsive recipe-preview" />
      </div>
    </a>
  </div>
  <app-recipe-item></app-recipe-item>
</div>
